<div class="main">
    <div id="div1" class="mb-5">
        <h1>Income</h1>
    </div>

    <!--tab panel-->
    <ngb-tabset justify="justified">

        <ngb-tab title="All Income">
            <ng-template ngbTabContent>
                <all-income></all-income>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Search Income">
            <ng-template ngbTabContent>
               <search-income></search-income>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>

<ng-template #popupContent>
    <income-report [printObj]="printObj"></income-report>
</ng-template>