<h1>Money Request</h1>
<br>
<p class="mb-5">
    <button class="btn btn-secondary btn-sm" type="button" (click)="sendWindowOpen(popupElement)">
        Send Request
    </button>
</p>

<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Employee ID</th>
            <th scope="col">Date</th>
            <th scope="col">Description</th>
            <th scope="col">Amount</th>
            <th scope="col">Edit</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let request of requests">
            <td> {{ request.employeeId }} </td>
            <td> {{ request.date }} </td>
            <td> {{ request.description }} </td>
            <td> {{ request.amount }} </td>
            <td>
                <button (click)="edit(request, popupElement)" class="btn btn-sm btn-success">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <p> Total records : {{ totalRecords }} </p>
        <button class="btn btn-sm btn-primary">Report</button>
    </tfoot>
</table>

<ng-template #popupElement>

    <div class="modal-header">
        <h4 *ngIf="!isUpdate" class="modal-title" id="modal-basic-title">Send Request</h4>
        <h4 *ngIf="isUpdate" class="modal-title" id="modal-basic-title">Edit Request</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
                          <span aria-hidden="true">&times;</span>
                      </button>
    </div>

    <div class="modal-body">
        <form ngForm #form="ngForm" name="addAttendanceForm" (ngSubmit)="addOrUpdate(form)">
            <div class="form-group">
                <label for="empId">Employee ID </label>
                <input [(ngModel)]="updateObj.empId" #empId="ngModel" type="text" id="empId" name="empId" [readonly]="isUpdate" class="form-control" placeholder="Your Id">
                <p *ngIf="empIdError" style="color: red; float:right">Emploee id is invalid.</p>
            </div>
            <div class="form-group">
                <label for="date">Date</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="modelDate" ngbDatepicker #date="ngbDatepicker">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="date.toggle()" type="button">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>
                <p *ngIf="dateError" style="color: red; float:right">Date is required.</p>
            </div>
            <div class="form-group">
                <label for="description">Description </label>
                <textarea [(ngModel)]="updateObj.description" rows="3" #description="ngModel" type="time" id="description" name="description" class="form-control">
                            </textarea>
            </div>
            <div class="form-group">
                <label for="amount" class="">Amount</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Rs.</span>
                    </div>
                    <input [(ngModel)]="updateObj.amount" #amount="ngModel" type="number" class="form-control" id="amount" name="amount" placeholder="Amount" required>
                </div>
            </div>
            <div>
                <p *ngIf="inserted" style="color: green">Inserted</p>
                <p *ngIf="updated" style="color: green">Updated</p>
                <p *ngIf="error" style="color: red">Something went wrong!</p>
            </div>
            <div class="form-group">
                <button *ngIf="!isUpdate" type="submit" [disabled]="form.invalid" class="btn btn-sm btn-primary mr-2">
                            SEND
                        </button>
                <button *ngIf="isUpdate" type="submit" [disabled]="form.invalid" class="btn btn-sm btn-success mr-2">
                            EDIT
                        </button>
                <button type="reset" class="btn btn-sm btn-dark">RESET</button>
            </div>
            <div class="form-group"></div>
        </form>

    </div>

</ng-template>