<div class="main">
    <div id="div1" class="mx-auto">
        <h1>Borrow Books</h1>
    </div>
    <br>
    <div>
        <p>
            <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#addForm"
                aria-expanded="false" aria-controls="addForm">
                Add Borrow Books
            </button>
        </p>
        <div class="collapse" id="addForm">
            <div class="card card-body" style="width: 35rem;">
                <form ngForm #addForm="ngForm" (ngSubmit)="add(addForm)">
                    <div class="form-group">
                        <label for="studentId" class="">Student ID</label>
                        <input [(ngModel)]="updateObj.studentId" #studentId="ngModel" id="studentId" name="studentId"
                            type="text" class="form-control form-control-sm" placeholder="Student ID" required
                            [readonly]="isUpdate">
                    </div>
                    <div class="form-group">
                        <label for="bookId" class="">Book ID</label>
                        <input [(ngModel)]="updateObj.bookId" #bookId="ngModel" id="bookId" name="bookId"
                            type="text" class="form-control form-control-sm" placeholder="Book ID" required
                            [readonly]="isUpdate">
                    </div>
                    <div class="form-group">
                        <label for="borrowDate" class="">Borrow Date</label>
                        <input [(ngModel)]="updateObj.borrowDate" #borrowDate="ngModel" id="borrowDate"
                            name="borrowDate" type="date" class="form-control form-control-sm" placeholder="Book title"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="returnDate" class="">Return Date</label>
                        <input [(ngModel)]="updateObj.returnDate" #returnDate="ngModel" id="returnDate"
                            name="returnDate" type="date" class="form-control form-control-sm" placeholder="Publisher"
                            required>
                    </div>
                    <button *ngIf="!isUpdate" class="btn btn-primary btn-sm mr-2" [disabled]="addForm.invalid"
                        type="submit">
                        ADD
                    </button>
                    <button *ngIf="isUpdate" class="btn btn-primary btn-sm mr-2" type="submit">
                        UPDATE
                    </button>
                    <button class="btn btn-dark btn-sm" type="reset">
                        RESET
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>


<div id="div4" class="mt-5 mr-2">
    <table class="table table-sm">
        <thead class="thead-light">
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Return Date</th>
                <th scope="col">Fine</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of borrowRecords">
                <td> {{ record.studentId }} </td>
                <td> {{ record.borrowDate }} </td>
                <td> {{ record.returnDate }} </td>
                <td> {{ record.fine }} </td>
                <td>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteBtn(record)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p>Total Records : {{ totalRecords }}</p>
    </div>
</div>