<div class="main">
    <div id="div1" class="mx-auto">
        <h1>Borrow & Return Books</h1>
    </div>
    <br>
    <div>
        <p>
            <button class="btn btn-secondary btn-sm" type="button" (click)="borrowBtn(popupElement1)">
                Borrow Books
            </button>
        </p>

    </div>
</div>

<div id="div4" class="mt-5 mr-2">
    <table datatable="" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm" style="width: 100%">
        <thead class="thead-light">
            <tr>
                <th scope="col">Student ID</th>
                <th scope="col">Book Id</th>
                <th scope="col">Borrow Date</th>
                <th scope="col">Return Date</th>
                <th scope="col">Fine</th>
                <th scope="col">Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let record of borrowRecords">
                <td> {{ record.studentId }} </td>
                <th> {{ record.bookId }} </th>
                <td> {{ record.borrowDate }} </td>
                <td> {{ record.returnDate }} </td>
                <td> {{ record.fine }} </td>
                <td [ngSwitch]="record.status">
                    <span *ngSwitchCase="'borrowed'" style="color: chocolate">
                        {{ record.status }}
                     </span>
                    <span *ngSwitchCase="'returned'" style="color: cornflowerblue">
                        {{ record.status }}
                     </span>
                </td>
                <td>
                    <button *ngIf="record.status == 'borrowed'" class="btn btn-outline-primary btn-sm mr-2" (click)="returnBtn(returnConfirm, record)">
                        Return
                    </button>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteBtn(deleteConfirm, record)">
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div>
        <p>Total Records : {{ totalRecords }}</p>
    </div>
</div>

<ng-template #popupElement1>

    <div class="modal-header">
        <h4 *ngIf="!isUpdate" class="modal-title" id="modal-basic-title">Add Borrow Records</h4>
        <h4 *ngIf="isUpdate" class="modal-title" id="modal-basic-title">Edit Borrow Records</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
                                                  <span aria-hidden="true">&times;</span>
                                              </button>
    </div>

    <div id="addForm">

        <div class="modal-body">

            <form ngForm #addForm="ngForm" (ngSubmit)="borrowOrUpdate(addForm)">

                <div class="form-group">
                    <label for="studentId" class="">Student ID</label>
                    <input ngModel #studentId="ngModel" id="studentId" name="studentId" type="text" class="form-control form-control-sm" placeholder="Student ID" required [readonly]="isUpdate">
                    <p *ngIf="studentIdError" style="color: red; float:right">Student Id is invalid</p>
                </div>

                <div class="form-group">
                    <label for="bookId" class="">Book ID</label>
                    <input ngModel #bookId="ngModel" id="bookId" name="bookId" type="text" class="form-control form-control-sm" placeholder="Book ID" required [readonly]="isUpdate">
                </div>

                <div class="form-group">
                    <label for="borrowDate" class="">Borrow Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="borrowDate" [(ngModel)]="bDate" ngbDatepicker #borrowDate="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="borrowDate.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                    <p *ngIf="bDateError" style="color: red; float:right">Borrow date is required</p>
                </div>

                <div class="form-group">
                    <label for="returnDate" class="">Return Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="returnDate" [(ngModel)]="rDate" ngbDatepicker #returnDate="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="returnDate.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                    <p *ngIf="rDateError" style="color: red; float:right">Return date is required</p>
                </div>

                <div>
                    <p style="color: red"> {{ error }} </p>
                </div>

                <button *ngIf="!isUpdate" class="btn btn-primary btn-sm mr-2" [disabled]="addForm.invalid" type="submit">
                            ADD
                        </button>
                <button class="btn btn-dark btn-sm" type="reset">
                            RESET
                        </button>
            </form>

        </div>

    </div>
</ng-template>

<!--delete confirm model-->
<ng-template #deleteConfirm>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Record deletion</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
                      <span aria-hidden="true">&times;</span>
                  </button>
    </div>
    <div class="modal-body">
        <p>
            <strong>Are you sure you want to delete this record?</strong> <br>
            <span class="text-warning">This record will be permanently deleted.</span>
        </p>
        <span *ngIf="deleted" class="text-danger">Record not deleted. Something went wrong.</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="close()">Close</button>
        <button type="button" class="btn btn-danger btn-sm" ngbAutofocus (click)="delete()">Delete</button>
    </div>

</ng-template>


<!--return confirm model-->
<ng-template #returnConfirm>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Return book</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
                          <span aria-hidden="true">&times;</span>
                      </button>
    </div>
    <div class="modal-body">
        <div>
            <p *ngIf="returnCorrect" style="color: rgb(49, 133, 133)">Returned in correct time. No fine.</p>
            <p *ngIf="returnIncorrect" style="color: chocolate">Returned {{ delayDays }} days late.</p> <br>
            <p *ngIf="returnIncorrect" style="color: red">Total fine : {{ fine }}</p>
            <p *ngIf="returnError" style="color: red">Did not confirmed. Something went wrong!</p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="close()">Close</button>
        <button type="button" class="btn btn-primary btn-sm" ngbAutofocus (click)="return()">Confirm Return</button>
    </div>

</ng-template>