<div class="mt-5 mb-2">
    <div>
        <table datatable="" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table row-border hover">
            <thead>
                <tr>
                    <th>Course ID</th>
                    <th>Date</th>
                    <th>Amount</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let income of Incomes">
                    <td> {{ income.courseId }} </td>
                    <td> {{ income.date }} </td>
                    <td> {{ income.amount }} </td>
                    <td>
                        <button class="btn btn-outline-success btn-sm mr-1" (click)="updateBtn(income, popupContent2)">
                                                Update
                                            </button>
                        <button class="btn btn-outline-danger btn-sm" (click)="deleteBtn(income, deleteConfirm)">
                                                Delete
                                            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="mt-5 mb-5 mr-2">

    <div *ngIf="totalRecords > 0">
        <p>Total records : {{ totalRecords }} </p>
        <p>Total income : {{ totalAmount | currency:'':'Rs.' }}</p>
    </div>
    <div *ngIf="totalRecords == 0">
        <p style="color: brown;">No records</p>
    </div>

</div>
<div *ngIf="totalRecords > 0">
    <button (click)="getReport(popupContent)" class="btn btn-info btn-sm mr-2">Summary</button>
    <button class="btn btn-success btn-sm" printSectionId="div4" ngxPrint>Detailed Report</button>
</div>


<ng-template #popupContent>
    <income-report [printObj]="printObj"></income-report>
</ng-template>



<!--update-->
<ng-template #popupContent2>
    <div class="model">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Update Income</h4>
            <button type="button" class="close" aria-label="Close" (click)="close()">
                        <span aria-hidden="true">&times;</span>
                    </button>
        </div>
        <div class="modal-body">
            <update-income [updateObj]="updateObj" [isUpdate]="isUpdate" [component]="component"></update-income>
        </div>

    </div>

</ng-template>


<!--delete confirm model-->
<ng-template #deleteConfirm>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Record deletion</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <div class="modal-body">
        <p>
            <strong>Are you sure you want to delete this record?</strong> <br>
            <span class="text-warning">This record will be permanently deleted.</span>
        </p>
        <span *ngIf="isDeleted" class="text-danger">Record not deleted. Something went wrong.</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="close()">Close</button>
        <button type="button" class="btn btn-danger btn-sm" ngbAutofocus (click)="delete()">Delete</button>
    </div>

</ng-template>