<div class="mt-5 mb-2">
    <table id="table" datatable class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Course ID</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let income of Incomes">
                <td> {{ income.courseId }} </td>
                <td> {{ income.date }} </td>
                <td> {{ income.amount }} </td>
            </tr>
        </tbody>
    </table>

</div>


<div class="mt-5 mb-5 mr-2">

    <div *ngIf="totalRecords > 0">
        <p>Total records : {{ totalRecords }} </p>
        <p>Total income : {{ totalAmount | currency:'':'Rs.' }}</p>
    </div>
    <div *ngIf="totalRecords == 0">
        <p style="color: brown;">No records</p>
    </div>

</div>
<div *ngIf="totalRecords > 0">
    <button (click)="getReport(popupContent)" class="btn btn-info btn-sm mr-2">Summary</button>
    <button class="btn btn-success btn-sm" printSectionId="div4" ngxPrint>Detailed Report</button>
</div>

<ng-template #popupContent>
    <income-report [printObj]="printObj"></income-report>
</ng-template>

<script>

    var $ = require('jquery');
    var dt = require('datatables.net')();

    $(document).ready(function () {
        $('#table').DataTable();
    });

</script>