<div>
  <div class="card">
    <div class="card-body">

      <form [formGroup]="angForm" novalidate>

        <div class="form-group">
          <label class="col-md-4">Student number</label>
          <input type="text" class="form-control" formControlName="studentNo" #studentNo />
        </div>
        <div *ngIf="angForm.controls['studentNo'].invalid && (angForm.controls['studentNo'].dirty || angForm.controls['studentNo'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['studentNo'].errors.required">
            student Number is required.
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-4">Subject number </label>
          <input type="text" class="form-control" formControlName="subjectNo" #subjectNo />
        </div>
        <div *ngIf="angForm.controls['subjectNo'].invalid && (angForm.controls['subjectNo'].dirty || angForm.controls['subjectNo'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['subjectNo'].errors.required">
            subject number is r equired.
          </div>
        </div>

        <div class="form-group">
            <label for="sel1">Select list:</label>
            <select class="form-control" formControlName="markstype" #markstype>
                <option value="Assignment">Assignment </option>
                <option value="finalExam">final Examination </option>
            </select>
          </div>

        <div class="form-group">
          <label class="col-md-4"> Marks</label>
          <input type="text" class="form-control" formControlName="marks" #marks />
        </div>
        <div *ngIf="angForm.controls['marks'].invalid && (angForm.controls['marks'].dirty || angForm.controls['marks'].touched)" class="alert alert-danger">
          <div *ngIf="angForm.controls['marks'].errors.required">
            Marks is required.
          </div>
        </div>

        <div class="form-group">
            <button (click)="addmarks(studentNo.value, subjectNo.value,markstype.value,marks.value)"
                class="btn btn-primary">
                Add
             </button>
        </div>
        <div class="form-group">
                <button (click)="updatemarkes(person_name.value, business_name.value, business_gst_number.value)"[disabled]="angForm.pristine || angForm.invalid" 
                    class="btn btn-primary">
                    Update
                 </button>
            </div>
      </form>
    </div>

  </div>
  <table class="table table-hover">
      <thead>
      <tr>
          <td>Subject id</td>
          <td>Subject Name</td>
          <td>Type</td>
          <td>Marks</td>
          <td colspan="2"></td>
      </tr>
      </thead>
    
      <tbody>
          <tr *ngFor="let business of businesses">
              <td>{{ marks.subjectid }}</td>
              <td>{{ marks.subjectname }}</td>
              <td>{{ marks.type }}</td>
              <td>{{ marks.subjectmarks }}</td>
              <td><a [routerLink]="['edit', business.business_gst_number]" class="btn btn-primary">Edit</a></td>
          </tr>
      </tbody>
    </table>
  </div>