<div>
    <div id="addForm">
        <div class="card card-body">
            <form ngForm #addForm="ngForm" (ngSubmit)="addOrUpdate(addForm)">
                <div class="form-group">
                    <label for="date">Date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="modelDate" ngbDatepicker #date="ngbDatepicker">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" (click)="date.toggle()" type="button">
                                <i class="far fa-calendar-alt"></i>
                            </button>
                        </div>
                    </div>
                    <div>
                        <p *ngIf="dateError" style="color: red; float: right">Date is required</p>
                    </div>
                </div>
                <div class="form-group">
                    <label for="course">Course Id</label>
                    <input #courseId="ngModel" [(ngModel)]="updateObj2.courseId" type="text" name="courseId" class="form-control" id="courseId">
                    <p *ngIf="courseIdError" style="color: red; float: right">Invalid Course Id</p>
                </div>
                <div class="form-group">
                    <label for="amount" class="">Amount</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Rs.</span>
                        </div>
                        <input [(ngModel)]="updateObj2.amount" #amount="ngModel" type="number" class="form-control" id="amount" name="amount" placeholder="Amount" required>
                    </div>
                </div>
                <div>
                    <p style="color: green"> {{ message }} </p>
                    <p *ngIf="error" style="color: red">Something went wrong!</p>
                </div>
                <div>
                    <button *ngIf="!isUpdate" class="btn btn-primary btn-sm mr-2" [disabled]="addForm.invalid" type="submit">
                      ADD
                    </button>
                    <button *ngIf="isUpdate" class="btn btn-primary btn-sm mr-2" [disabled]="addForm.invalid" type="submit">
                      UPDATE
                    </button>
                    <button class="btn btn-dark btn-sm" type="reset">
                      RESET
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>