<div class="main">
    <div id="div1" class="mx-auto mb-3">
        <h1>Books Details & Authors</h1>
    </div>

    <ngb-tabset justify="justified">

        <ngb-tab title="Books">
            <ng-template ngbTabContent>
                <div id="addExpence">
                    <book></book>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Authors">
            <ng-template ngbTabContent>
                <author></author>
            </ng-template>
        </ngb-tab>

    </ngb-tabset>



</div>