
<div class="sidenav col-2">

    <a routerLink="home">Home</a>
    <a routerLink="financial-cal-salary">Salary Calculation</a>
    <a routerLink="financial-manage-income">Income Management</a>
    <a routerLink="financial-manage-expences">Expenses Management</a>
    <a routerLink="financial-moneyRequests">Accept/Reject Money Request</a>
    <a routerLink="student-student">Student</a>
    <a routerLink="student-courses">Courses</a>
    <a routerLink="student-payments">Payments</a>
    <a routerLink="employee-attendance">Insert Attendance</a>
  </div>