<table class="table table-hover">
    <thead>
    <tr>
        <td>id</td>
        <td>tital</td>
        <td>startDate</td>
        <td>deadline</td>
        <td>courseName</td>
        <td colspan="2"></td>
    </tr>
    </thead>
  
    <tbody>
        <tr *ngFor="let assisment of assisment">
            <td>{{ assisment.assinmentId }}</td>
            <td>{{ assisment.title }}</td>
            <td>{{ assisment.startDate }}</td>
            <td>{{ assisment.deadline }}</td>
            <td>{{ assisment.courseName }}</td>
            <td><a [routerLink]="['edit', assisment.assinmentId]" class="btn btn-primary">Edit</a></td>
            <td><a (click) = "deleteAssisment(assisment.assinmentId)" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
  </table>
