<div class="main">
    <div id="div1" class="mb-5">
        <h1>Expences</h1>
    </div>

    <ngb-tabset justify="justified">

        <ngb-tab title="Add Expence">
            <ng-template ngbTabContent>
                <div id="addExpence">
                    <add-expence></add-expence>
                </div>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="All Expences">
            <ng-template ngbTabContent>
                <all-expence></all-expence>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Search Expences">
            <ng-template ngbTabContent>
                <search-expence></search-expence>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>




    <div *ngIf="tableActive">
        <button (click)="getReport(popupContent)" class="btn btn-info btn-sm mr-2">Summary</button>
        <button class="btn btn-success btn-sm" printSectionId="div4" ngxPrint>Detailed Report</button>
    </div>
</div>

<ng-template #popupContent>
    <expence-report [printObj]="printObj"></expence-report>
</ng-template>