<div class="main">
  <div id="div1" class="mx-auto">
    <h1>Expences Calculation</h1>
  </div>
  <br>
  <div>
    <p>
      <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#addForm"
        aria-expanded="false" aria-controls="addForm">
        Add Expence
      </button>
    </p>
    <div class="collapse" id="addForm">
      <div class="card card-body" style="width: 35rem;">
        <form ngForm #addForm="ngForm" (ngSubmit)="addExpence(addForm)">
          <div class="form-group">
            <label for="id" class="">ID</label>
            <input ngModel #id="ngModel" id="id" name="id" type="text" class="form-control" placeholder="Your ID" required>
          </div>
          <div class="form-group">
            <label for="date" class="">Date</label>
            <input ngModel #date="ngModel" id="date" name="date" type="date" class="form-control" required>
          </div>
          <div class="form-group">
            <label for="type">Type</label>
            <select ngModel #type="ngModel" class="custom-select form-control" id="type" name="type" required>
              <option selected>select one..</option>
              <option value="loan">Loan</option>
              <option value="repair">Repair</option>
              <option value="resource">New resource</option>
              <option value="empSalary">Employee Sal</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount" class="">Amount</label>
            <div class="input-group">
              <div class="input-group-prepend text-sm">
                <div class="input-group-text ">Rs.</div>
              </div>
              <input ngModel #amount="ngModel" id="amount" name="amount" type="number" class="form-control"
                placeholder="Amount in Rs." required>
            </div>
          </div>
          <div class="form-group">
            <label for="description" class="">Description</label>
            <textarea ngModel #description="ngModel" class="form-control" id="description" name="description" rows="3">
            </textarea>
          </div>
          <div>
            <button class="btn btn-primary btn-sm mr-2" [disabled]="addForm.invalid" type="submit">
              ADD
            </button>
            <button class="btn btn-dark btn-sm" type="reset">
              RESET
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="div2" class="mx-auto">
    <div id="div3">
      <label>Enter the time period</label>
      <form ngForm #form="ngForm" class="form-inline" (ngSubmit)="search(form)">
        <div class="input-group mb-1 mr-sm-4">
          <div class="input-group-prepend">
            <div class="input-group-text">From</div>
          </div>
          <input ngModel #dataFrom="ngModel" type="date" class="form-control" id="dateFrom" name="dateFrom" required>
        </div>
        <div class="input-group mb-1 mr-sm-4">
          <div class="input-group-prepend">
            <div class="input-group-text">To</div>
          </div>
          <input ngModel #dataTo="ngModel" type="date" class="form-control" id="dateTo" name="dateTo" required>
        </div>
        <div>
          <button class="btn btn-primary" [disabled]="form.invalid" type="submit">
            Search
          </button>
        </div>
      </form>
    </div>
  </div>
  <div id="div4" class="mt-5 mr-2" *ngIf="tableActive">
        <table class="table table-sm">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Title</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let expense of filteredExpenses">
                    <td> {{ expense.employeeName }} </td>
                    <td> {{ expense.title }} </td>
                    <td> {{ expense.type }} </td>
                    <td> {{ expense.date }} </td>
                    <td> {{ expense.amount }} </td>
                </tr>
            </tbody>
        </table>
        <div>
            <p>Total Records : {{ totalRecords }}</p>
            <p>Total Expences : {{ totalAmount | currency:'':'Rs.' }}</p>
        </div>
    </div>
    <div *ngIf="tableActive">
      <button (click)="getReport(popupContent)" class="btn btn-info btn-sm mr-2">Summary</button>
      <button class="btn btn-success btn-sm" printSectionId="div4" ngxPrint>Detailed Report</button>
    </div>
</div>

<ng-template #popupContent>
  <expence-report [printObj]="printObj"></expence-report>
</ng-template>