.main {}

h1 {
    font-family: monospace;
    font-weight: bold;
    color: #008B8B;
}

#div2 {
    margin-top: 36px;
    text-align: center;
}

#div3 {
    display: inline-block;
}

#addExpence {
    width: 50%;
    margin-top: 50px;
    margin-left: 20%;
}