<div class="row">
        <div class="col-md-10 col-sm-12">
            <table class="table" style="background-color:#fafafa">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">TITLE</th>
                        <th scope="col">DESCRIPTION</th>
                        <th scope="col">UPDATE</th>
                        <th scope="col">DELETE</th>
                        
                    </tr>
                </thead>
                <tbody>

                        <tr *ngFor="let notice of notices">
                                <td>{{ notice.noticeId }}</td>
                                <td>{{ notice.title }}</td>
                                <td>{{ notice.description }}</td>
                                <td><a [routerLink]="['edit',notice.noticeId]" class="btn btn-sm btn-outline-success">
                                    Edit
                                    </a>
                                </td>
                                <td><a (click) = "deletenotice(notice.noticeId)" class="btn btn-sm btn-outline-danger">Delete</a></td>
                            </tr>
                </tbody>
            </table>

        </div>
    </div>
