
.tooltip-inner {
    background-color: #ffffff;
    color:grey;
    font-weight:20;
    padding:10px;
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.3);
}
.tooltip.bs-tooltip-bottom .arrow:before {
    border-bottom-color: #ffffff !important;
}

