<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Register to event</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form ngForm #form="ngForm" (ngSubmit)="register(form)">
        <div class="form-group">
            <label for="eventId">Event Id</label>
            <input [(ngModel)]="currentEvent.eventId" #eventId="ngModel" type="text" class="form-control" id="eventId" name="eventId" placeholder="Enter event id" required readonly>
        </div>
        <div class="form-group">
            <label for="studentId">Student Id</label>
            <input ngModel #studentId="ngModel" type="text" class="form-control" id="studentId" name="studentId" placeholder="Enter student id" required>
        </div>
        <div class="form-group">
            <label for="date">Date</label>
            <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                        <i class="far fa-calendar-alt"></i>
                    </button>
                </div>
            </div>
        </div>
        <div>
            <button class="btn btn-primary btn-sm mr-2" type="submit" [disabled]="form.invalid">
                REGISTER
            </button>
            <button class="btn btn-dark btn-sm" type="reset">
                RESET
            </button>
        </div>
    </form>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-sm" (click)="close()">Cansel</button>
</div>