<div class="main">
    <div id="div1" class="mx-auto mb-5">
        <h1>Student</h1>
    </div>

    <!--tab panel-->
    <ngb-tabset justify="justified" style="width: 100%">

        <ngb-tab title="All Students">
            <ng-template ngbTabContent>
                <all-student></all-student>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Add Students">
            <ng-template ngbTabContent>
                <div id="addStudent">
                    <add-student></add-student>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>

</div>