<div class="main">
  <div id="div1" class="mx-auto">
    <h1>Student Payments</h1>
  </div>
  <br>
  <div>
    <p>
      <button class="btn btn-secondary btn-sm" type="button" data-toggle="collapse" data-target="#addForm"
        aria-expanded="false" aria-controls="addForm" (click)="canselUpdate()">
        Add/Update Payments
      </button>
    </p>
    <div class="collapse" id="addForm">
      <div class="card card-body" style="width: 35rem;">
        <form ngForm #addForm="ngForm" (ngSubmit)="addOrUpdate(addForm)">
          <div class="form-group">
            <label for="id" class="">Date</label>
            <input [(ngModel)]="updateObj.date" #date="ngModel" name="date" type="date" class="form-control" required>
          </div>
          <div>
            <label for="course">Course</label>
            <select [(ngModel)]="updateObj.courseId" #course="ngModel" class="custom-select form-control" id="course" name="course" required>
              <option *ngFor="let c of courses"> {{ c.name }} </option>
            </select>
          </div>
          <div class="form-group mt-3">
            <label for="title" class="">Title</label>
            <select [(ngModel)]="updateObj.title" #title="ngModel" class="custom-select form-control" id="title" name="title" required>
              <option value="semester">Semester</option>
              <option value="prorata">Prorata</option>
              <option value="repeat">Repeat</option>
              <option value="other">Other</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount" class="">Amount</label>
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">Rs.</span>
              </div>
              <input [(ngModel)]="updateObj.amount" #amount="ngModel" type="number" class="form-control" id="amount" name="amount"
                placeholder="Amount" required>
            </div>
          </div>
          <div>
            <button *ngIf="!isUpdate" class="btn btn-primary mr-2" [disabled]="addForm.invalid" type="submit">
              ADD
            </button>
            <button *ngIf="isUpdate" class="btn btn-primary mr-2" [disabled]="addForm.invalid" type="submit">
              UPDATE
            </button>
            <button class="btn btn-dark" type="reset">
              RESET
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div id="div4" class="mt-5 mr-2">
    <table class="table table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col">Course ID</th>
          <th scope="col">Title</th>
          <th scope="col">Date</th>
          <th scope="col">Amount</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let payment of payments">
          <td> {{ payment.courseId }} </td>
          <td> {{ payment.title }} </td>
          <td> {{ payment.date }} </td>
          <td> {{ payment.amount }} </td>
          <td>
            <button class="btn btn-outline-success btn-sm mr-1" (click)="updateBtn(payment)" data-toggle="collapse"
              data-target="#addForm" aria-expanded="false" aria-controls="addForm">
              Update
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div>
      <p>Total Records : {{ totalRecords }}</p>
    </div>
  </div>
</div>