<div class="main">
    <div id="div1" class="mx-auto mb-5">
        <h1>Student Payments</h1>
    </div>

    <!--tab panel-->
    <ngb-tabset justify="justified">

        <ngb-tab title="All Payments">
            <ng-template ngbTabContent>
                <all-payments></all-payments>
            </ng-template>
        </ngb-tab>

        <ngb-tab title="Add Payments">
            <ng-template ngbTabContent>
                <div id="addPayment">
                    <add-payments></add-payments>
                </div>
            </ng-template>
        </ngb-tab>
    </ngb-tabset>



</div>