<form ngForm #form="ngForm" name="addAttendanceForm" (ngSubmit)="add(form)">
    <label for="empId">Employee ID </label>
    <input ngModel #empId="ngModel" type="text" id="empId" name="empId">
    <br>
    <label for="date">Date </label>
    <input ngModel #date="ngModel" type="date" id="date" name="date">
    <br>
    <label for="aTime">Arrival time </label>
    <input ngModel #aTime="ngModel" type="time" id="aTime" name="aTime">
    <br>
    <label for="eTime">Exit time </label>
    <input ngModel #eTime="ngModel" type="time" id="eTime" name="eTime">
    <br>
    <button type="submit">ADD</button>
</form>
