<div id="div4" class="mt-5 mr-2">
    <table datatable="" [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-sm" style="width: 100%">
        <thead class="thead-light">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Year</th>
                <th scope="col">GPA</th>
                <th scope="col">Employee Id</th>
                <th scope="col">Department</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let course of courses">
                <td> {{ course.id }} </td>
                <td> {{ course.name }} </td>
                <td> {{ course.year }} </td>
                <td> {{ course.gpa }} </td>
                <td> {{ course.empId }} </td>
                <td> {{ course.dName }} </td>
                <td>
                    <button class="btn btn-outline-success btn-sm mr-1" (click)="updateBtn(course, popupContent2)">
                  Update
                </button>
                    <button class="btn btn-outline-danger btn-sm" (click)="deleteBtn(course, deleteConfirm)">
                  Delete
                </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="mt-5 mb-5 mr-2">

    <div *ngIf="totalRecords > 0">
        <p>Total records : {{ totalRecords }} </p>
    </div>
    <div *ngIf="totalRecords == 0">
        <p style="color: brown;">No records</p>
    </div>

</div>
<div *ngIf="totalRecords > 0">
    <button (click)="getReport(popupContent)" class="btn btn-info btn-sm mr-2">Summary</button>
    <button class="btn btn-success btn-sm" printSectionId="div4" ngxPrint>Detailed Report</button>
</div>

<ng-template #popupContent>

</ng-template>

<!--update-->
<ng-template #popupContent2>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Update Course</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <add-courses [updateObj]="updateObj" [isUpdate]="isUpdate"></add-courses>
    </div>

</ng-template>

<!--delete confirm model-->
<ng-template #deleteConfirm>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-title">Record deletion</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
                    <span aria-hidden="true">&times;</span>
                </button>
    </div>
    <div class="modal-body">
        <p>
            <strong>Are you sure you want to delete this record?</strong> <br>
            <span class="text-warning">This record will be permanently deleted.</span>
        </p>
        <span *ngIf="isDeleted" class="text-danger">Record not deleted. Something went wrong.</span>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark btn-sm" (click)="close()">Close</button>
        <button type="button" class="btn btn-danger btn-sm" ngbAutofocus (click)="delete()">Delete</button>
    </div>

</ng-template>