<div id="addForm">
    <div class="card card-body">
        <form ngForm #addForm="ngForm" (ngSubmit)="addOrUpdate(addForm)">
            <div class="form-group">
                <label for="id" class="">ID</label>
                <input [(ngModel)]="updateObj2.id" #id="ngModel" id="id" name="id" type="text" class="form-control form-control-sm" placeholder="Course ID" required [readonly]="isUpdate">
                <p *ngIf="courseIdError" style="color: red; float:right">Id already exists</p>
            </div>
            <div class="form-group">
                <label for="name" class="">Name</label>
                <input [(ngModel)]="updateObj2.name" #name="ngModel" id="name" name="name" type="text" class="form-control form-control-sm" placeholder="Course Name" required>
            </div>
            <div class="form-group">
                <label for="year" class="">Year</label>
                <input [(ngModel)]="updateObj2.year" #year="ngModel" id="year" name="year" type="text" class="form-control form-control-sm" placeholder="Year" required>
            </div>
            <div class="form-group">
                <label for="gpa" class="">GPA</label>
                <input [(ngModel)]="updateObj2.gpa" #gpa="ngModel" id="gpa" name="gpa" type="gpa" class="form-control form-control-sm" placeholder="GPA" required>
            </div>
            <div>
                <label for="empId">Employee Id</label>
                <input [(ngModel)]="updateObj2.empId" #empId="ngModel" type="text" id="empId" name="empId" class="form-control form-control-sm" placeholder="Your Id" required>
                <p *ngIf="empIdError" style="color: red; float:right">Invalid Id</p>
            </div>
            <div>
                <label for="dName">Department</label>
                <select [(ngModel)]="updateObj2.dName" #dName="ngModel" class="custom-select form-control form-control-sm" id="dName" name="dName" required>
                    <option selected></option>
                    <option *ngFor="let d of departments"> {{ d.name }} </option>
                </select>
            </div>
            <div>
                <p *ngIf="isAdded" style="color: green">Inserted.</p>
                <p *ngIf="isUpdated" style="color: greenyellow">Updated.</p>
                <p *ngIf="insertOrUpdateError" style="color: red">Something went wrong!</p>
            </div>
            <div class="mt-2 mt-3">
                <button *ngIf="!isUpdate" class="btn btn-primary btn-sm mr-2" [disabled]="addForm.invalid" type="submit">
          ADD
        </button>
                <button *ngIf="isUpdate" class="btn btn-primary btn-sm mr-2" type="submit">
          UPDATE
        </button>
                <button class="btn btn-dark btn-sm" type="reset">
          RESET
        </button>
            </div>
        </form>
    </div>
</div>