<div class="main">
    <div class="mx-auto" id="div1">
        <h1>Salary</h1>
    </div>
    <div id="div2" class="">
        <div class="card col-5">
            <div class="card-body">
                <form ngForm #form="ngForm" name="search&cal" (ngSubmit)="calSalary(form, popupContent)">
                    <div>
                        <div class="form-group">
                            <label for="empID" class="">Employee ID</label>
                            <input ngModel #empID="ngModel" id="empID" name="empID" type="text" class="form-control" placeholder="Employee id...">
                        </div>
                        <div class="custom-control custom-radio">
                            <input #month1 ngModel class="custom-control-input" type="radio" (change)="monthSelectWay(1)" name="month" id="monthSelect" value="monthSelect" required>
                            <label for="monthSelect" class="custom-control-label">Month select</label>
                            <div class="form-group">
                                <select ngModel #monthSelect="ngModel" class="custom-select form-control-sm" id="monthSelect" name="monthSelect" [disabled]="!selectedMonthField">
                  <option value="0">January</option>
                  <option value="1">Febrary</option>
                  <option value="2">March</option>
                  <option value="3">April</option>
                  <option value="4">May</option>
                  <option value="5">June</option>
                  <option value="6">July</option>
                  <option value="7">August</option>
                  <option value="8">September</option>
                  <option value="9">Octomber</option>
                  <option value="10">November</option>
                  <option value="11">December</option>
                </select>
                            </div>
                        </div>
                        <label>or..</label>
                        <div class="custom-control custom-radio">
                            <input ngModel #month2="ngModel" class="custom-control-input" type="radio" [value]="currentMonth" (change)="monthSelectWay(2)" name="month" id="currentMonth">
                            <label class="custom-control-label" for="currentMonth">
                Current month
              </label>
                        </div>
                        <br>
                        <div>
                            <p *ngIf="noEmp" style="color: red">Invalid Employee ID</p>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary mr-2" [disabled]="form.invalid">
                Calculate
              </button>
                            <button type="reset" class="btn btn-dark">
                RESET
              </button>
                        </div>
                        {{ salary }}
                    </div>
                </form>
            </div>
        </div>
        <div class="col" *ngIf="recieptActive">
            <div class="card">
                <div class="card-header">
                    <h2>Salary receipt</h2>
                </div>
                <div class="card-body" style="width: 18rem;" id="print-content">
                    <table>
                        <tbody>
                            <tr>
                                <td>Employee ID</td>
                                <td>{{ printObj.id }}</td>
                            </tr>
                            <tr>
                                <td>Employee Name</td>
                                <td>{{ printObj.empName }}</td>
                            </tr>
                            <tr>
                                <td>Month</td>
                                <td>{{ printObj.month }}</td>
                            </tr>
                            <tr>
                                <td>Basic Salary</td>
                                <td>{{ printObj.basicSal }}</td>
                            </tr>
                            <tr>
                                <td>ETF</td>
                                <td>{{ printObj.ETF }}</td>
                            </tr>
                            <tr>
                                <td>EPF</td>
                                <td>{{ printObj.EPF }}</td>
                            </tr>
                            <tr>
                                <td>OT Amount</td>
                                <td>{{ printObj.OTAmount }}</td>
                            </tr>
                            <tr>
                                <td>OT Hours</td>
                                <td>{{ printObj.OTHours }}</td>
                            </tr>
                            <tr>
                                <td>Salary</td>
                                <td>{{ printObj.salary }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-outline-primary" printSectionId="print-content" ngxPrint>
                        Print or Save
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #popupContent>
    <salary-receipt [printObj]="printObj"></salary-receipt>
</ng-template>