<div id="nav">
    <img class="logo" src="./assets/imges/logo.svg" alt="">
    <ul class="main_right_auth">
        <button class="login_btn_auth">Login</button>
    </ul>
    <ul class="main_right">


        <li>
            <button class="settings_nav"></button>
        </li>
        <li class="login_li">
            <button class="logout_btn"></button>
        </li>


        <li class="avatar_li">

        </li>

        <li class="welcome_text">

            Welcome

            <div class="subtext">steve@apple.com</div>
        </li>

        <li>
            <img class="avatar" src="./assets/images/avatar.jpg" />
        </li>

    </ul>
</div>


<div id="side_nav_container">
    <ul class="side_ul">
        <div class="side_nav_c"></div>
        <li>
            <a routerLink="home">
                <i class="fa fa-home"></i>
                <div class="nav_text">Home</div>
            </a>
        </li>
        <li><a routerLink="financial-cal-salary">Salary Calculation</a></li>
        <li><a routerLink="financial-manage-income">Income Management</a></li>
        <li><a routerLink="financial-manage-expences">Expenses Management</a></li>
        <li><a routerLink="financial-moneyRequests">Accept/Reject Money Request</a></li>
        <li><a routerLink="student-student">Student</a></li>
        <li><a routerLink="student-courses">Courses</a></li>
        <li><a routerLink="student-payments">Payments</a></li>
        <li><a routerLink="employee-register">Register Employee</a></li>
        <li><a routerLink="employee-attendance">Attendance</a></li>
        <li><a routerLink="employee-mRequests">Money Requests</a></li>
    </ul>
</div>


<div class="centered">
    <router-outlet></router-outlet>
</div>

<div class="logout_confirm">
    <i class="fa fa-question-circle fa-5x align_confirm"></i>
    <div id="confirm">Are you sure , Do you want to logout ?</div>
    <div id="confirm_btns">
        <button id="yes" class="yes">YES</button>
        <button id="no" class="no">NO</button>
    </div>
</div>