/*
========================
ITP Dashboard -Theme
Coded by vihanga nivarthana
========================
*/

* {
    margin: 0;
    padding: 0;
    transition: .3s;
    font-family: roboto
}

#container {
    width: 100%;
    display: flex
}

.left {
    width: 9%;
    display: flex
}

.right {
    width: 91%;
    display: flex;
    float: right
}

#sidebar {
    height: 100vh;
    width: 100%;
    background: #3B62D1;
    text-align: center
}

#topbar {
    width: 100%;
    height: 3.375rem;
    background: #fff;
    -webkit-box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15)!important
}

#sidebar li {
    list-style: none;
    padding-top: 10px;
    height: 40px;
    line-height: 32px;
    color: rgba(255, 255, 255, .8)
}

#sidebar li:hover {
    cursor: pointer;
    color: #fff;
    font-size: 25px
}

#sidebar #nav {
    margin-top: 129px
}

.cover {
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: none;
    object-fit: contain
}

.error {
    transform: translate(-50%, -50%);
    left: 50%;
    position: absolute;
    top: 50%;
    color: #95969C
}

#top_right {
    float: right;
    float: right;
    height: 53px;
    width: 100px
}

.routercontainer {
    width: 82%;
    top: 75px;
    height: 84vh;
    left: 122px;
    margin-left: 35px;
    position: absolute
}

.avatar {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    opacity: .8;
    filter: grayscale()
}

.avatar_menu {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1
}

.avatar_menu a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block
}

.avatar:hover {
    opacity: 1;
    filter: none
}

.avatar_place:hover .avatar_menu {
    display: block
}

#top_left_menu {
    position: absolute;
    float: left;
    display: flex;
    padding: 5px;
    height: 30px;
    margin-top: 6px;
    margin-left: 20px;
    border-radius: 40px;
    background: #3B62D1;
    text-align: center
}

#top_left_menu ul {
    display: none
}

#top_left_menu li {
    list-style: none;
    display: inline;
    line-height: 30px;
    padding: 0 20px;
    color: #fff
}

.welcome {
    position: absolute;
    right: 122px;
    top: 9px
}

.name {
    position: absolute;
    right: 122px;
    top: 24px;
    font-size: 10px
}

ul {
    margin: 0 auto;
    align-items: center;
    justify-content: center
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 756px) {
    #container {
        display: none
    }
    .cover {
        display: block
    }
}