*{
    margin:0;
    padding:0;
    font-family: Roboto;
    transition: 1s;
}

/* ======================== */
/* Navigation bar  */


#nav{
    width: 100%;
    height:50px;
    float:right;
    top:0;
    /* margin-left: 10vw; */
    /* border-top-left-radius: 40px;
    border-bottom-left-radius: 40px; */
    background:rgba(211, 211, 211, 0.384);
}
.main_right{
    display:inline;
}
.main_right  li{
    float:right;
    list-style: none;
    margin-top:16px;

}
.avatar{
    border-radius: 50%;
    width:40px;
    margin-top:-12px;
    margin-right: 10px;

}

.avatar_li{
margin-right:20px;
}

.login_li{
    margin-right: 30px;
}

.logout_btn{
    border-radius: 50%;
    background: #487eb0;
    width: 30px;
    height: 30px;
    border-style: none;
    padding:5px;
    margin-top:-10px;
    margin-right:2px;
    user-select: none;
    outline:none;
    color:#ffffff;
    font-family:Segoe MDL2 Assets;
}

.settings_nav{
    border-radius: 50%;
   
    width: 30px;
    height: 30px;
    border-style: none;
    padding:5px;
    margin-top:-10px;
    margin-right: 10px;
    user-select: none;
    outline:none;
    color:#2f3640;
   
    font-family:Segoe MDL2 Assets; 
}

.main_right .welcome_text{
    font-size:15px;
    margin-right:15px;
    margin-top:10px;
}

.welcome_text .subtext{
font-size:12px;
}

.main_right_auth{
    float:right;
    list-style: none;
    margin-top:16px;
    margin-right:40px;
    display:none;

}

.login_btn_auth{
    border-radius: 40px;
    background: #487eb0;
    width: 90px;
    height: 30px;
    border-style: none;
    padding:5px;
    margin-top:-10px;
    margin-right:2px;
    user-select: none;
    outline:none;
    color:#ffffff;
    font-family:Roboto;
}

.logo{
  
    width:90px;
    border-bottom: #2f3640;
}
/* Main container */

#main{
    background: #487eb0;
    width:500px;
    height:100vh;
}


.split {
    margin-top:55px;
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
   
    width:20%;
  }
  
  .right {
    right: 0;
  
    width:80%;
  }

  .centered {
    position: absolute;
    width: 77%;
    top: 17%;
    left: 18%;
    /* transform: translate(-50%, -50%); */
  }





  /* logout confirm model box */

  .logout_confirm{
    z-index: 200;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width:400px;
    height:250px;
    background:#ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    display: none;
  }

 #confirm{
      margin-top:25px;
  }

  .align_confirm{
      margin-top:20px;
      color:#487eb0;
  }

  #confirm_btns{
     margin-top:20px;
  }

  .yes{
    border-radius: 40px;
    background: #487eb0;
    width: 90px;
    height: 30px;
    border-style: none;
    padding:5px;
    margin-top:-10px;
    margin-right:2px;
    user-select: none;
    outline:none;
    color:#ffffff;
    font-family:Roboto;
    cursor: pointer;
  }

  .no{
    border-radius: 40px;
    background: #ee5253;
    width: 90px;
    height: 30px;
    border-style: none;
    padding:5px;
    margin-top:-10px;
    margin-right:2px;
    user-select: none;
    outline:none;
    color:#ffffff;
    font-family:Roboto;
    cursor: pointer;
  }

  button{
      opacity: 0.8;
      cursor: pointer;
  }

  button:hover{
      opacity: 1;
  }

  a{
      text-decoration: none;
  }

  a:hover{
      color: #ffffff;
  }
