<div id="nav">

    <ul class="main_right_auth">
        <button class="login_btn_auth">Login</button>
    </ul>
    <ul class="main_right">

        <div id="auth"></div>
        <li>
            <button class="settings_nav"></button>
        </li>
        <li class="login_li">
            <button class="logout_btn"></button>
        </li>

        <li class="avatar_li">

        </li>

        <li class="welcome_text">

            Welcome

            <div class="subtext">steve@apple.com</div>
        </li>

        <li>
            <img class="avatar" src="./assets/images/avatar.jpg" />
        </li>

    </ul>
</div>


<div id="side_nav_container">
    <ul class="side_ul">

        <div class="nav_ul">
            <li>
                <a routerLink="home"> <img class="logo" src="./assets/images/logo.svg" alt=""> </a>
            </li>
            <li>Student
                <ul class="sub">
                    <li><a routerLink="student-student">Students</a></li>
                    <li><a routerLink="student-courses">Courses</a></li>
                    <li><a routerLink="student-payments">Payments</a></li>
                </ul>
            </li>
            <li>Employee
                <ul class="sub">
                    <li><a routerLink="employee-register">Manage Employee</a></li>
                    <li><a routerLink="employee-attendance">Attendance</a></li>
                    <li><a routerLink="employee-mRequests">Money Requests</a></li>
                </ul>
            </li>
            <li>Financial
                <ul class="sub">
                    <li><a routerLink="financial-cal-salary">Salary</a></li>
                    <li><a routerLink="financial-manage-income">Income</a></li>
                    <li><a routerLink="financial-manage-expences">Expenses</a></li>
                    <li><a routerLink="financial-moneyRequests">Money Request</a></li>
                </ul>
            </li>
            <li>Events
                <ul class="sub">
                    <li><a routerLink="event-view">Events</a></li>
                    <li><a routerLink="event-manage">Manage Events</a></li>
                </ul>
            </li>
            <li>News & Messages
                <ul class="sub">
                    <li><a routerLink="manageNotice">Add Notice</a></li>
                    <li><a routerLink="viewNotice">View Notice</a></li>
                </ul>
            </li>
            <li>Resources
                <ul class="sub">
                    <li><a routerLink="resource">Resources</a></li>
                </ul>
            </li>
            <li>Assignments & examinations
                <ul class="sub">
                    <li><a routerLink="managemarks">Manage marks</a></li>
                    <li><a routerLink="addAssingnment">Add assingment</a></li>
                    <li><a routerLink="updateAssingnment">Update assingment</a></li>
                    <li><a routerLink="uploadAssingnment">Upload assingment</a></li>
                    <li><a routerLink="viewAssingment">View assingment</a></li>
                    <li><a routerLink="addQuiz">Add Quiz</a></li>
                    <li><a routerLink="viewQuiz">View Quiz</a></li>
                </ul>
            </li>
            <li>Library
                <ul class="sub">
                    <li><a routerLink="library-manageBook">Manage Books</a></li>
                    <li><a routerLink="library-borrowBook">Borrow Books</a></li>

                </ul>
            </li>
        </div>
    </ul>
</div>


<div class="centered">
    <router-outlet></router-outlet>
</div>

<div class="logout_confirm">
    <i class="fa fa-question-circle fa-5x align_confirm"></i>
    <div id="confirm">Are you sure , Do you want to logout ?</div>
    <div id="confirm_btns">
        <button id="yes" class="yes">YES</button>
        <button id="no" class="no">NO</button>
    </div>
</div>