<div>
        <ul class="list-group">
                <ul class="list-group">
                        <option  value="x.courseId"> </option>
                        <li class="list-group-item" *ngFor="let x of subjects">
                               <h4> <a href="http://localhost:4200/uploadAssingnment">{{x.title}}</a> </h4>
                                <h5>Start Date: {{x.startDate}}</h5>
                                <h5>End Date  : {{x.deadline}}</h5>
                        </li>
                      </ul>
              </ul>   
</div>