<h1>Events</h1>

<div class="row">
    <ng-container *ngFor="let event of events; let i = index">
        <div class="col mb-4">
            <div class="card" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title"> {{ event.title }} </h5>
                    <p> {{ event.description }} </p>
                    <br>
                    <p>Date : {{ event.date }} </p>
                    <button class="btn btn-success btn-sm" (click)="register(event, popupContent)" style="float: right">
                      Register
                    </button>
                </div>
            </div>
            <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
        </div>
    </ng-container>

</div>

<ng-template #popupContent>
    <register [currentEvent]="currentEvent"></register>
</ng-template>