<div>
        <form ngForm #form="ngForm" name="searchQize" (ngSubmit)="search(form)">
                <div class="form-row">
                  <div class="col">          
                      Subject      <select ngModel #subject="ngModel" class="form-control" id="subject" name="subject" [value]="selectsubject" (change)="selectedsubject(form.value.subject)">
                                     <option *ngFor="let x of subjects" value="{{x.courseId}}">{{x.name}}</option>
                                  </select>
                              
                  </div>
                  <div class="col" *ngIf="quize">         
                        Subject      <select ngModel #quizeid="ngModel" class="form-control" id="quizeid" name="quizeid" [value]="selectquize" (change)="getQuize(form.value.quizeid)">
                                <option *ngFor="let x of quize" value="{{x.assinmentId}}">{{x.title}}</option>
                             </select>
                  </div>
                </div>
              
              </form>
    <br><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <td>id</td>
            <td>question</td>
            <td>option1</td>
            <td>option2</td>
            <td>option3</td>
            <td>option4 </td>
            <td>answer</td>
            <td colspan="2"></td>
        </tr>
        </thead>
      
        <tbody>
            <tr *ngFor="let quiz of quizes">
                <td>{{ quiz.quizId }}</td>
                <td>{{ quiz.question }}</td>
                <td>{{ quiz.option1 }}</td>
                <td>{{ quiz.option2 }}</td>
                <td>{{ quiz.option3 }}</td>
                <td>{{ quiz.option4 }}</td>
                <td>{{ quiz.answer }}</td>
                <td><a [routerLink]="['edit', quiz.quizId]" class="btn btn-primary">Edit</a></td>
                <td><a (click) = "deletequiz(quiz.quizId)" class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
      </table>
</div>
