<div id="addForm">
    <div class="card card-body">
        <form ngForm #addForm="ngForm" (ngSubmit)="addOrUpdateExpence(addForm)">
            <div class="form-group">
                <label for="id" class="">ID</label>
                <input [(ngModel)]="updateObj2.employeeId" #id="ngModel" id="id" name="id" type="text" class="form-control" placeholder="Your ID" required>
                <p *ngIf="empIdErr" style="color: red; float: right;">
                    Invalid employee id
                </p>
            </div>
            <div class="form-group">
                <label for="type">Date</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="date" [(ngModel)]="date" ngbDatepicker #d="ngbDatepicker">
                    <div class="input-group-append">
                        <button (click)="d.toggle()" type="button" class="btn btn-outline-secondary">
                            <i class="far fa-calendar-alt"></i>
                        </button>
                    </div>
                </div>
                <p *ngIf="dateNotFilled" style="color: red; float: right;">
                    Date is required
                </p>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select [(ngModel)]="updateObj2.type" #type="ngModel" class="custom-select form-control" id="type" name="type" required>
                    <option value="loan">Loan</option>
                    <option value="repair">Repair</option>
                    <option value="tele bill">Telephone bill</option>
                    <option value="elec bill">Electricity bill</option>
                    <option value="resource">New resource</option>
                    <option value="empSalary">Employee Sal</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="amount" class="">Amount</label>
                <div class="input-group">
                    <div class="input-group-prepend text-sm">
                        <div class="input-group-text ">Rs.</div>
                    </div>
                    <input [(ngModel)]="updateObj2.amount" #amount="ngModel" id="amount" name="amount" type="number" class="form-control" placeholder="Amount in Rs." required>
                </div>
            </div>
            <div>
                <button class="btn btn-primary btn-sm mr-2" [disabled]="addForm.invalid" type="submit" *ngIf="!isUpdate2">
                    ADD
                </button>
                <button class="btn btn-success btn-sm mr-2" type="submit" *ngIf="isUpdate2">
                    UPDATE
                </button>
                <button class="btn btn-dark btn-sm" type="reset">
                    RESET
                </button>
            </div>
            <div *ngIf="isInserted" style="color: green; margin-top: 10px;">
                <h5>Inserted!</h5>
            </div>
            <div *ngIf="isUpdated" style="color: green; margin-top: 10px;">
                <h5>Updated!</h5>
            </div>
            <div *ngIf="insertOrUpdateError" style="color: red; margin-top: 10px;">
                <h5>Something went wrong</h5>
            </div>
        </form>
    </div>
</div>