<h1>Employee Attendance</h1>
<br>
<p class="mb-5">
    <button class="btn btn-secondary btn-sm" type="button" (click)="AddUpdateChange()">
        Insert/Edit Attendance
    </button>
</p>
<div class="mb-5" id="addForm" *ngIf="formOpen">
    <div class="card card-body" style="width: 35rem;">
        <form ngForm #form="ngForm" name="addAttendanceForm" (ngSubmit)="addOrUpdate(form)">
            <div class="form-group">
                <label for="empId">Employee ID </label>
                <input class="form-control form-control-sm" [(ngModel)]="updateObj.empId" #empId="ngModel" type="text"
                    id="empId" name="empId">
            </div>
            <div class="form-group">
                <label for="date">Date </label>
                <input class="form-control form-control-sm" [(ngModel)]="updateObj.date" #date="ngModel" type="date"
                    id="date" name="date">
            </div>
            <div class="form-group">
                <label for="aTime">Arrival time </label>
                <input class="form-control form-control-sm" [(ngModel)]="updateObj.arrivalTime" #aTime="ngModel"
                    type="time" id="aTime" name="aTime">
            </div>
            <div class="form-group">
                <label for="eTime">Exit time </label>
                <input class="form-control form-control-sm" [(ngModel)]="updateObj.exitTime" #eTime="ngModel"
                    type="time" id="eTime" name="eTime">
            </div>
            <div class="form-group">
                <button class="btn btn-sm btn-primary mr-2" *ngIf="!isUpdate" type="submit">ADD</button>
                <button class="btn btn-sm btn-primary mr-2" *ngIf="isUpdate" type="submit">UPDATE</button>
                <button class="btn btn-sm btn-dark" type="reset">RESET</button>
            </div>
        </form>
    </div>

</div>


<table class="table table-sm">
    <thead class="thead-light">
        <tr>
            <th scope="col">Employee Id</th>
            <th scope="col">Date</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Exit Time</th>
            <th scope="col">Edit</th>
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let attendance of attendances">
            <td> {{ attendance.empId }} </td>
            <td> {{ attendance.date }} </td>
            <td> {{ attendance.arrivalTime }} </td>
            <td> {{ attendance.exitTime }} </td>
            <td>
                <button (click)="edit(attendance); top()" class="btn btn-sm btn-success">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <p> Total records : {{ totalRecords }} </p>
        <button class="btn btn-sm btn-primary">Report</button>
    </tfoot>
</table>